.statsNumber {
  // position: absolute;
  // bottom: 1em;
  // left: 0;
  // right: 0;
  font-size: 4em;
}
.titleMost {
  font-size: 2em;
}

.statsImg {
  display: flex;
  max-width: 50%;
  margin: auto;
}