<div class="section section-buttons">
  <div class="container">
    <div class="title-brand">
      <h1 class="presentation-title titleMost">The most popular post!</h1>
    </div>
  </div>
</div>
<div class="section section-dark">
  <div class="container">
    <app-post *ngIf="bestPost" [post]="bestPost"></app-post>
  </div>
</div>
<div class="section section-buttons">
  <div class="container">
    <div class="container">
      <div class="title-brand">
        <h1 class="presentation-title titleMost">So far we have:</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-lg-4 ">
        <h1 class="text-center presentation-title statsNumber">{{stats.posts}}</h1>
        <img src="assets/img/faces/hashtag.jpg" class="img-circle img-no-padding img-responsive statsImg" alt="Hash tags">
        <!-- <h1 class="text-center presentation-title statsNumber">{{stats.posts}}</h1> -->
        <h4 class="text-center images-title">Hash tags</h4>
      </div>
      <div class="col-sm-4 col-lg-4 ">
        <p class="text-center presentation-title statsNumber">{{stats.likes}}</p>
        <img src="assets/img/faces/tree.jpg" class="img-circle img-no-padding img-responsive statsImg" alt="Hash tags">
        <h4 class="text-center images-title">Likes</h4>
      </div>
      <div class="col-sm-4 col-lg-4 ">
        <p class="text-center presentation-title statsNumber">{{stats.users}}</p>
        <img src="assets/img/faces/users.jpg" class="img-circle img-no-padding img-responsive statsImg" alt="Hash tags">
        <h4 class="text-center images-title">Unique users</h4>
      </div>
    </div>
  </div>
</div>