.img-post {
  width: 100%;
}
.post {
  -webkit-box-shadow: inset 0px 0px 10px 0px lightgreen;
  -moz-box-shadow: inset 0px 0px 10px 0px lightgreen;
  box-shadow: inset 0px 0px 10px 0px lightgreen;
  padding: 10px;
  background-color: snow;
  margin: 10px 0
}
.text-desc {
  margin-bottom: 70px;
}
.bottom {
  position: absolute;
  bottom: 0;
}
.likesNum {
  font-size: 1.0em;
  font-weight: 600;
  // color: lightgreen;
}

.likesIcon {
  font-size: 1.4em;
  font-weight: 600;
  color: green;
  cursor: pointer;
}
.likesIcon:hover {
  font-size: 1.6em;
}

