<div class="post">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <img [src]="post.imageUrl || 'https://www.englefontaine.fr/wp-content/themes/Avada-Child-Theme/assets/images/b_default.gif'" class="img-post">
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="text-desc mt-1">
        <i class="mx-1">{{post.text}}</i>
      </div>
      <div class="bottom">
        <div class="row mx-3 likes mb-1">
          <span class="likesNum">{{post.numberOfLikes}}</span> <i (click)="like()" class="likesIcon mx-1 fas fa-globe-europe"></i>              
        </div>
        <div class="row mx-1">
          <a [href]="'https://twitter.com/i/status/' + post.id" class="btn btn-outline-info btn-round" target="_blank">Go to tweet</a>
        </div>
      </div>
    </div>
  </div>
</div>