<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/background.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Eco Yeah</h1>
        </div>
        <h2 class="presentation-subtitle text-center">#BGKenvironment</h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <p class="category-absolute white">Use
      <i class="bigger">#BGKenvironment</i> hashtag and increase public awareness about the
      <b class="bigger">environment</b>!
    </p>
  </div>
  <div class="main">
    <app-main></app-main>
    <div class="section section-dark section-nucleo-icons">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-12">
            <h2 class="title">Our mission</h2>
            <br/>
            <p class="description">
              Is to involve aware-people - who care about our lives and life our planet - to wide-spread their pro-eco activities and behaviors.
              We give you the opportunity to make your audience much bigger to let you spread your ideas even further which
              gives you unique possibility to show your activities to bunch of a new people and persuade them to participate.
            </p>
          </div>
          <div class="col-lg-7 col-md-12">
            <div class="icons-container">
              <i class="fas fa-tree"></i>
              <i class="fas fa-cat"></i>
              <i class="fas fa-globe-americas"></i>
              <i class="fas fa-seedling"></i>
              <i class="fas fa-solar-panel"></i>
              <i class="fas fa-globe-europe"></i>
              <i class="fas fa-leaf"></i>
              <i class="fas fa-carrot"></i>
              <i class="fas fa-globe-africa"></i>
              <i class="fas fa-fish"></i>
              <i class="fas fa-paw"></i>
              <i class="fas fa-sun"></i>
              <i class="fas fa-smog"></i>
              <i class="fas fa-globe-asia"></i>
              <i class="fas fa-dove"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>