<div class="wrapper">
  <div class="main">
      <div class="section section-dark ">
        <div class="container">
            <div class="row">
              <!-- <div class="col-lg-1 col-md-12">
                  <img class="img-cup" src="https://s5.fbcdn.pl/assets/870/b/8/45c503e8ff21564d3f6e34f6ed39beaa1c34f4.png">
              </div> -->
              <div class="col-lg-12 col-md-12">
                <h1 class="presentation-title text-center">Top posts</h1>
              </div>
                <!-- <h3 class="presentation-subtitle text-centere">Top</h3> -->
            </div>
              <div class="row">
                <div *ngFor="let post of posts" class="col-lg-12 col-md-12">
                  <app-post [post]="post"></app-post>
                </div>
            </div>
        </div>
    </div>
</div>
